@import '~bootstrap/scss/bootstrap';

thead th[scope="col"]{
    background-color:  rgb(33, 37, 41);
    color: aliceblue;
}

th:nth-child(1){
    padding-left: 20px !important;
}

.table-container {
    overflow: hidden; 
    border-radius: 15px;
}
  
.table {
    border-radius: 15px;
    overflow: hidden; 
}

.nav-link i{
    width: 30px;
}

img{
    max-width: 150px;
}